@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($color: $primary-color, $amount: 2), 0.5);
  }
}

#about-sm-heading,
#work-sm-heading {
  margin-bottom: 5rem;
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 3rem 4.5rem;
  //height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include ease-out();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 60px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3"
    "job4 job5 job5";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.1rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }
  .job-4 {
    grid-area: job4;
  }
  .job-5 {
    grid-area: job5;
  }

  .job {
    background: rgba(lighten($color: $primary-color, $amount: 3), 0.5);
    padding: 30px 30px 50px 30px;
    border-bottom: $secondary-color 5px solid;
    p {
      font-size: 14px;
    }
  }

  h5 {
    margin-top: 15px;
    margin-bottom: 0;
  }
  .expDate {
    color: lighten($primary-color, 30);
    margin-top: 0;
    margin-bottom: 30px;
    padding: 0;
  }
}

.aboutIcons,
.i {
  margin: 50px 0 5px 0;
  text-align: center;
}

.fa-2x {
  padding: 10px 15px;
}

// Work/Projects
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;

  img {
    width: 100%;
    border: 3px #fff solid;
    position: relative;

    &:hover {
      opacity: 0.2;
      border-color: $secondary-color;
      @include ease-out;
      filter: blur(1px);
    }
  }

  .item {
    position: relative;

    h2 {
      position: absolute;
      z-index: 10;
      top: 30%;
      width: 100%;
      text-align: center;
      color: $secondary-color;
      opacity: 0;

      &.show {
        @include ease-out;
        opacity: 1;
      }
    }
  }
}

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;

  div {
    font-size: 2rem;
    border: 3px set-text-color($primary-color) solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 2rem;
    @include ease-out;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";
